*.class
*.log

# idea
.idea
.idea_modules

# sbt specific
.bloop
.bsp
.metals
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
